################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

cx.BinarySerializer/bin
cx.BinarySerializer/obj
/packages
.vs/
*.nupkg
